<!DOCTYPE html>
<html lang="en">
<head>
          {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Jobs Guru</title>



</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <a class="navbar-brand" href="#" style="text-align: center;">
            <img src="{% static 'ic.svg' %}" alt="Your Logo" width="30" height="30" class="d-inline-block align-top rounded-circle">
            <div style="font-family: 'Pacifico', cursive; color: rgb(45, 163, 218);" ><b>Jobs Guru</b></div>
        </a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <button class="btn btn-outline-primary me-3">Home</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary me-3">About</button>
                </li>
                <li>
                    <form class="d-flex">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="color: rgb(70, 161, 223);">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary ms-3"  onclick="window.location.href='/log2/'">Jobseeker log-in</button>
                </li>
                <li class="nav-item">
                    <button class="btn btn-outline-primary ms-3" onclick="window.location.href='/log/'">Company log-in</button>
                </li>
            </ul>
        </div>
    </div>
</nav>




<!--<div>-->
        {% for i,j,k in list %}

<center>
 <div class="col-md-4" >
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF6FxV-Ta2HNtIGApgnTa-DidIym5ENmcd3A&usqp=CAU" alt="Card image" style="width: 100%;">
                <div class="card-body">
                    <h4 class="card-title">{{i}}</h4>
                    <p class="card-text">{{j}}</p>
                    <a href="/sendmail/{{k}}" class="btn btn-danger">Send mail</a>
                </div>
            </div>
        </div>
    </div>
</center>

        {% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
